@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f2f5;
}

::-webkit-scrollbar-thumb {
  background: #bfbfc2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00a884;
}
